@model MvcCvProject.Models.Entity.Skills
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yetenek Ekleme</h4>
<br />
<form method="post">
    @Html.Label("Yetenek ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    @Html.Label("Yetenek Adı")
    @Html.TextBoxFor(x => x.Skill, new { @class = "form-control" })
    @Html.Label("Yetenek Oranı")
    @Html.TextBoxFor(x => x.SkillInfo, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>

